*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

    background-image: url(/static/accounts/images/login-bg.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    font-family: Georgia, 'Times New Roman', Times, serif;
}

.login{
    backdrop-filter: blur(14px);
    background: rgba(0, 0, 0, 0.35);
    border: 1px solid rgba(255, 255, 255, 0.18);
    
    padding: 45px 55px;
    border-radius: 22px;
    width: 400px;

    text-align: center;
    color: #e8e8e8;

    box-shadow: 0 10px 35px rgba(0,0,0,0.55);
}

.login h2 {
    margin-bottom: 25px;
    font-size: 32px;
    color: #e8f6ff;
    font-weight: bold;

    text-shadow: 
        0 0 12px rgba(180,220,255,0.5),
        0 0 20px rgba(80,140,200,0.4);
}


.overlay {
    width: 100%;
    padding: 12px;
    margin: 12px 0;

    background: rgba(255,255,255,0.8);
    border: 1px solid rgba(150,150,150,0.3);
    border-radius: 12px;

    font-size: 16px;
    color: #1a1a1a;

    outline: none;
    transition: 0.25s ease;
}


form input::placeholder {
    color: rgba(40, 40, 40, 0.6);
}


.btn{
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    margin-top: 12px;
    
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;

    background: linear-gradient(135deg, #4fa3ff, #2c6fd1);
    box-shadow: 0 0 12px rgba(80,150,255,0.5);

    transition: 0.25s ease;
}

.btn:hover {
    background: linear-gradient(135deg, #6cc4ff, #397ee6);
    transform: translateY(-2px);
}


.links {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.links a {
    color: #dbeeff;
    margin: 5px 0;
    font-size: 15px;
    text-decoration: none;
    transition: 0.3s ease;
}

.links a:hover {
    text-decoration: underline;
    color: #ffffff;
}

.new-user, .forgot {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.55);
    backdrop-filter: blur(6px);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.popup-box {
    position: relative;
    background: #fff;
    padding: 30px;
    border-radius: 12px;
    width: 400px;
    box-shadow: 0 0 20px rgba(0,0,0,0.3);
    color: #1c1e21;
}

.create-account h3, .forgot-password h3 {
    font-size: 28px;
    margin-bottom: 5px;
}

.fields {
    display: flex;
    gap: 10px;
}

.fields input {
    flex: 1;
}


.create-account input, .create-account select, .forgot-password input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    font-size: 15px;
    border: 1px solid #ccd0d5;
    border-radius: 6px;
}

.gender-box {
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.close-button{
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 28px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    z-index: 1001;
    cursor: pointer;
}

.close-btn {
    width: 100%;
    padding: 12px;
    border: none;
    border-radius: 12px;
    margin-top: 12px;
    
    font-size: 18px;
    color: #ffffff;
    cursor: pointer;

    background: linear-gradient(135deg, #4fbcff, #2c6fd1);
    box-shadow: 0 0 12px rgba(80,150,255,0.5);

    transition: 0.25s ease;
}

.close-btn:hover {
    background: linear-gradient(135deg, #6cc4ff, #397ee6);
    transform: translateY(-2px);
}

.forgot-button {
    position: absolute;
    top: 5px;
    right: 15px;
    font-size: 25px;
    color: #333;
    cursor: pointer;
    font-weight: bold;
    z-index: 1001;
    cursor: pointer;
}